@{
        ViewData["Title"] = "Aboutus";
    }

<style>
    #img2 {
        width: 40%;
        height: 40%;
        margin:10%;
    }
    .p{
        margin:5%;
    }
</style>

<h1>Mad Magnets: Powering Innovation with Magnetic Precision</h1>

<p>Mad Magnets is a leading force in magnetic innovation, specializing in the design and production of cutting-edge magnetic solutions.
    From powerful permanent magnets to custom applications for diverse industries, we combine technical expertise with a commitment to sustainability.</p>
<img id="img2" src ="/img/img2.png" />
<p>
    Our collaborative approach fosters a community of innovators dedicated to reshaping the future through the extraordinary power of magnets. 
    Join us at the forefront of magnetic technology, where creativity meets precision.
</p>
