@{
    ViewData["Title"] = "Home Page";
}

<style>
    #img1{
        width:40%;
        height:40%;
        margin:10%;
       
       
    }
    .p {
        margin-top: 5%;
        border: dashed 2px solid black;
        
    }
    
    .h1{
        text-align:center;
    }
</style>
<h1>Mad Magnets: Unleashing Magnetic Innovation</h1>

<p>
    At Mad Magnets, we are passionate about the extraordinary world of magnets and their limitless possibilities.
    As a pioneering force in the field, our company thrives on pushing the boundaries of magnetic technology.
    From creating innovative magnetic solutions to offering a diverse range of magnetic products,
    Mad Magnets is dedicated to making magnetic experiences not just functional but also exciting.
</P>
<p>
    Our commitment to excellence drives us to explore new applications for magnets, 
    whether in cutting-edge technology, sustainable energy, or everyday conveniences.
    With a team of skilled professionals and a fervor for magnetic marvels, Mad Magnets is at the forefront of revolutionizing the way magnets enhance our lives.
    </P>
<img id="img1" src="~/img/img1.webp" />
<p>
    Join us on a magnetic journey where creativity meets magnetism, and together, we'll create a world that attracts greatness.
</p>

